<article class="about">
    <h2 id="About_me">{{ texts.about.title }}</h2>
      <p>{{ texts.about.paragraph_one }} {% if texts.about.urlToReadme and texts.about.linkToReadme | length %}<a href="{{ texts.about.urlToReadme }}">{{ texts.about.linkToReadme }}</a>{% endif %}</p>
      <p>{{ texts.about.paragraph_two }}</p>
</article>
