<article class="about">
  {%- for about in content.about %}
    <h2 id="About_me">{{ about.title }}</h2>
      <p>{{ about.paragraph1 }}</p>
      <p>{{ about.paragraph2 }}</p>
  {% endfor %}
</article>