<footer>
  <small><time datetime="{{ helpers.currentYear() }}">{{ helpers.currentYear() }}</time><span> &copy; {{ settings.title }} by Ronny Shani</span>•<a href="/imprint/">Imprint • Privacy policy</a></small>
</footer>