<footer>
  <small><time datetime="{{ helpers.currentYear() }}">{{ helpers.currentYear() }}</time>&copy; {{ settings.title }} by Ronny Shani •<a href="/imprint/">Imprint • Privacy policy</a></small>
</footer>