<article>
  <h2 id="Services">Let's Work Together</h2>
    <ul class="columns">
      {%- for services in content.services %}
        <li>
        <h3>{{ services.title | upper }}</h3>
        <p>{{ services.summary }}</p>
        </li>
      {% endfor %}
        <li>
        {% include "contact.njk" %}
        </li>
    </ul>
</article>
