<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "WebSite",
		"name": "{{ settings.title }}",
		"description": "{{settings.title}} - {{ settings.description }} ",
		"url": "{{ settings.site_url }}",
		"logo": "{{ settings.site_url }}/assets/hero-image.webp",
		"image": "{{ settings.site_url }}{{ settings.socialImage }}"
	}
</script>