<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ settings.title }}",
  "description": "{{settings.title}} - {{ settings.description }} ",
  "url": "{{ settings.url }}",
  "logo": "{{ settings.url }}/assets/hero-image.webp",
  "image": "{{ settings.url }}{{ settings.socialImage }}",
}
 </script>
